<!doctype html>
<html>

<head>
  <title>GeoGlyph</title>
  <link rel="stylesheet" href="/profile.css">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head/>

<body>
  <!--HEADER SECTION -->
  <!--========================================================================  -->
  <!--FIRST SECTION-->
  <section class="grid-container">

    <section class="well">
      <section>
        <h3><span class="fa fa-user"></span><%= user.local.username %><br></h3>
        <!-- Problem with userName -->
        <% if (user.local.email) { %>
        <p>
          <strong>id</strong>: <%= user._id %><br>
          <strong>email</strong>: <%= user.local.email %><br>
          <strong>Bio</strong>:<%= user.local.bio %><br>
          <!-- <strong>password</strong>: <%= user.local.password %> -->
        </p>
        <% } %>
      </section>
    </section>

    <nav>
      <h1>Glyph Map</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <% if (user.local.email) { %>
      <a href="/unlink/local" class="btn btn-default">Unlink</a> <% } else { %>
      <a href="/connect/local" class="btn btn-default">Connect Local</a>
      <% } %>
    </nav>


    <!-- LOCAL INFORMATION -->
    <!--TODO: Add geolocation to this section-->


    <section class="map">
      <section>
        <span>Current Location</span>
        <section id='map'></section>
      </section>
    </section>


    <section class="userPosts">
      <!--KW Sat: Removed form that I created and coppied the form from the geolocation project -->
      <form action="/messages" method="POST">
        <!-- <input type="text" placeholder="name" name="name"> -->
        <input type="text" placeholder="What's going on?" name="quote">
        <input type="text" placeholder="Title this post"  name="title">
        <!--Hidden inpu box to store location of user on click-->
        <input hidden id="location" type="text" name="locate">
        <!--==============SEE ABOVE========================  -->
        <button class="mapboxgl-ctrl-icon, mapboxgl-ctrl-geolocate" id="find">Find my location</button>
        <button id="submitBtn" type="submit">Submit</button>
        <a href="/maps">Query for Glyphs</a>
      </form>

      <% for(var i=0; i<messages.length; i++) {%>
      <div class="card gedf-card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
              </div>
              <div class="ml-2">
                <div class="h5 m-0"><%= user.local.username %></div>
                <div class="h7 text-muted"><%= messages[i].location.coordinates %></div>
              </div>
            </div>
            <div>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
          <a class="card-link" href="#">
            <h5 class="card-title"><%= messages[i].title %></h5>
          </a>
          <ul>
            <li class="message">
              <span class="quote"><%= messages[i].quote %></span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
          <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
          <a href="#" class="card-link"><i class="fa fa-trash"></i>Delete</a>
        </div>
      </div>
      <% } %>
    </section>
  </section>

  <!--QUESTION: Am I able to run two script on the same page, is it necessary-->

  <script src="/location.js" charset="utf-8"></script>
  <script src="/main.js"></script>

</body>

</html>
