<!doctype html>
<html>

<head>
  <title>GeoGlyph</title>
  <link rel="stylesheet" href="/profile.css">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head/>

<body>
  <!--HEADER SECTION -->
  <!--========================================================================  -->
  <!--FIRST SECTION-->
  <section class="grid-container">
    <div class="container-fluid gedf-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/"><img src="/img/default.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item submenu dropdown">
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <% if (user.local.email) { %>
                <a href="/unlink/local" class="btn btn-default">Unlink</a> <% } else { %>
                </section>

                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
                <!-- <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="book-trip.html">Book trip</a></li>
                  <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                </ul> -->
              </li>

          </div>
        </div>
      </nav>


        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body profile">
                      <% if (user.local.email) { %>
                        <div class="h5"><%= user.local.username %></div>
                        <div class="h7 text-muted"><%= user.local.email %></div>
                        <div class="h7"><%= user.local.bio %></div>
                      <% } %>
                    </div>
                </div>
            </div>
  <div class="col-md-6 gedf-main">




    <!-- LOCAL INFORMATION -->
    <!--TODO: Add geolocation to this section-->


    <section class="map">
      <section>
        <span>Current Location</span>
        <section id='map'></section>
      </section>
    </section>

  <div class="card gedf-card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
            a publication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images"></a>
        </li>
      </ul>
    </div>
    <div class="card-body">

        <div class="tab-pane fade show active" id="posts">

          <form action="/messages" method="POST">
            <!-- <input type="text" placeholder="name" name="name"> -->
            <input id ="input" type="text" placeholder="Title this post"  name="title">
            <input id ="input" type="text" placeholder="What's going on?" name="quote">

            <!--Hidden inpu box to store location of user on click-->
            <input hidden id="location" type="text" name="locate">
            <!--==============SEE ABOVE========================  -->
            <section></section>
            <button class="mapboxgl-ctrl-icon mapboxgl-ctrl-geolocate btn btn-primary" id="find">Find my location</button>
            <button id="submitBtn" class ="btn btn-primary" type="submit">Submit</button>
            <a href="/maps" class="btn btn-primary">Query for Glyphs</a>
          </form>

        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
          <div class="form-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Upload image</label>
            </div>
          </div>
          <div class="py-4"></div>
        </div>
      </div>
      <div class="btn-toolbar justify-content-between">
        <div class="btn-group">

        </div>
        <div class="btn-group">
          <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
            <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <section class="userPosts">
      <!--KW Sat: Removed form that I created and coppied the form from the geolocation project -->

      <% for(var i=0; i<messages.length; i++) {%>
      <div class="card gedf-card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
              </div>
              <div class="ml-2">
                <div class="h5 m-0"><%= user.local.username %></div>
                <div class="h7 text-muted"><%= messages[i].location.coordinates %></div>
              </div>
            </div>
            <div>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
          <a class="card-link" href="#">
            <h5 class="card-title"><%= messages[i].title %></h5>
          </a>
          <ul>
            <li class="message">
              <span class="quote"><%= messages[i].quote %></span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
          <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
          <a href="#" data-id="<%= messages[i]._id %>" class="card-link trashCan" ><i class="fa fa-trash"></i>Delete</a>
        </div>
      </div>
      <% } %>
    </div>
    </section>
  </section>

  <!--QUESTION: Am I able to run two script on the same page, is it necessary-->

  <script src="/location.js" charset="utf-8"></script>
  <script src="/main.js"></script>

</body>

</html>
